.portfolio {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 10px;
}

@media(max-width: 1279px) {
    .portfolio {
        padding: 2px 48px 22px;
    }
}

@media(max-width: 1023px) {
    .portfolio {
        padding: 2px 2px 88px;
    }
}

@media(max-width: 767px) {
    .portfolio {
        flex-direction: column;
        align-items: center;
        padding: 2px 2px 4px;
    }
}