.photo-grid__photo {
    max-width: 100%;
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: auto;
    object-fit: cover;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    list-style-type: none;
    padding: 0 50px 50px;
}
@media(max-width: 767px) {
    .photo-grid__photo {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
}