.place__block {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 40px;
    grid-row-gap: 18px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0 auto;
}

@media(max-width: 1279px) {
    .place__block {
        max-width: 100%;
        grid-column-gap: 32px;
        grid-template-columns: minmax(440px, 1fr) 2fr;
    }
}

@media(max-width: 1023px) {
    .place__block {
        grid-column-gap: 28px;
        padding-bottom: 72px;
        grid-template-columns: minmax(340px, 1fr) 2fr;
    }
}

@media(max-width: 767px) {
    .place__block {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
}