.text-about__title {
    max-width: 100%;
    font-size: 36px;
    font-weight: bold;
    line-height: 104%;   
    color: #000;
    text-align: center;
    margin: 0 auto;
}

@media(max-width: 767px) {
    .text-about__title {
        font-size: 40px;
        line-height: 110%;
    }
}